body{
    background-color: aliceblue;
}
p{
    color: black;
}
.signUp-container{
    background-color: rgb(255, 255, 255);
    width: fix-content;
    border-radius:2px;
}
input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    align-self: center;
    padding: 2px;

}